*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
height: 100px;
background-color: #cf2425;
color: #ffffff;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
}

main {
    flex-grow: 1;
    background-image: linear-gradient(45deg, red, rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

h2 {
    position: absolute;
    color: #ffffff;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align:end;
    font-weight: 250;
    padding-right: 10px;

   
}

.content-image {
    height: 85vh;
    filter: drop-shadow(15px 20px 25px );
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #ffffff;
    padding-left: 75px;
}

header span {
    font-weight: 600;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}

footer div {
    width: 64px;
}
@media (max-width: 768px) {
    header nav{
        margin-left: 25px;
    }
    main{
        align-items: flex-end;
    }

    h2 {
        transform: translateX(0%);
        top: 18vh;
        font-size: 1.8rem;
        width: 150px;
        text-align: center;
        margin: 0;
    }

    .content-image {
        height: 61vh;
    }

    footer {
        height: 60px;
        
    }
} 
